body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

#menu {
  margin-top: 100px;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
}

#gameArea {
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#reactionBox {
  width: 200px;
  height: 200px;
  background-color: red;
  border-radius: 20px;
}

#hud {
  position: fixed;
  top: 10px;
  left: 10px;
  text-align: left;
}

.hidden {
  display: none;
}
